<div class="d-flex flex-column mb-2" [formGroup]="form">
    <div formGroupName="commonSurvivorImpactIndicators">
    
       <div class="row mb-2">
            <div class="col-md-12">
                <label>Do you feel you have, or have had, any issues with drugs (illicit or not), alcohol or both</label>
                <mat-radio-group class="ml-2" aria-label="Select an option"  required  formControlName="hasAnyIssuesWithDrugs">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="form.controls['commonSurvivorImpactIndicators'].touched && form.controls['commonSurvivorImpactIndicators'].invalid">
                    <div *ngIf="form.controls['commonSurvivorImpactIndicators'].get('hasAnyIssuesWithDrugs').errors?.required" class="error">
                        <span>This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="form.get('commonSurvivorImpactIndicators.hasAnyIssuesWithDrugs').value=='Yes'">
            <div class="row mb-2">
                <div class="col-md-12">
                    <mat-form-field class="full-width-input" appearance="outline">
                        <mat-label>Please provide details:</mat-label>
                        <textarea matInput #message maxlength="256" rows="3" formControlName="hasAnyIssuesWithDrugsDetail"></textarea>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>     
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-12">
                <label>Are you now or ever been engaged with any drug or alcohol treatment provider?</label>
                <mat-radio-group class="ml-2" aria-label="Select an option"  required  formControlName="hasOrHadEngagedAnyDrugTreatment">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                    <mat-radio-button value="N/A">N/A</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="form.controls['commonSurvivorImpactIndicators'].touched && form.controls['commonSurvivorImpactIndicators'].invalid">
                    <div *ngIf="form.controls['commonSurvivorImpactIndicators'].get('hasOrHadEngagedAnyDrugTreatment').errors?.required" class="error">
                        <span>This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>  
        <div *ngIf="form.get('commonSurvivorImpactIndicators.hasOrHadEngagedAnyDrugTreatment').value=='Yes'">
            <app-mental-health-service [mentalHealthServiceArray]= "form.controls['commonSurvivorImpactIndicators'].get('listOfTreatments')"></app-mental-health-service>
        </div>

        
        <div class="row mt-3 mb-1">
            <span class="ml-3"> <i>If you are currently accessing a service, please provide your workers details below:</i></span>
        </div>
        <div class="row mb-2">
            <div class="col-md-4 ">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Name"  formControlName="currentTreatmentName">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Service"  formControlName="currentTreatmentService">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Tel"  formControlName="currentTreatmentTel">
                </mat-form-field>
            </div>
        </div>
        
        
        <div class="row mb-2">
            <div class="col-md-12">
                <label>Have you been prescribed any mental health medication or anti-depressants?</label>
                <mat-radio-group class="ml-2" aria-label="Select an option"  required  formControlName="prescribedAnyMedical">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                    <mat-radio-button value="N/A">N/A</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="form.controls['commonSurvivorImpactIndicators'].touched && form.controls['commonSurvivorImpactIndicators'].invalid">
                    <div *ngIf="form.controls['commonSurvivorImpactIndicators'].get('prescribedAnyMedical').errors?.required" class="error">
                        <span>This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="form.get('commonSurvivorImpactIndicators.prescribedAnyMedical').value=='Yes'">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width-input" appearance="outline">
                        <mat-label>Please provide details of medication, dosage, etc::</mat-label>
                        <textarea matInput #message maxlength="256" rows="3" formControlName="prescribedAnyMedicalDetails"></textarea>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>     
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="row mt-3 mb-2">
            <span class="ml-3"> 
                <i>It is extremely common for people wishing to access support 
                    from Survivors Manchester to have been engaged in the criminal 
                    justice process for a range of reasons, such as drug use, theft, ABH, etc.
                </i>
                <i>To ensure that we are best meeting the needs of the individuals who are referred to us, 
                    we require information on past offences, which we understand may be difficult to disclose. 
                    We are not here to judge, the information is treated in the strictest of confidence and used 
                    to ascertain the level of support we can provide.
                </i>   
            </span>
        </div>
      

        <div class="row mb-2">
            <div class="col-md-12">
                <label>Have you ever served a custodial sentence, been on remand, or currently under investigation?</label>
                <mat-radio-group class="ml-2" aria-label="Select an option"  required  formControlName="servedOrCurrentlyUnderInvestigation">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="form.controls['commonSurvivorImpactIndicators'].touched && form.controls['commonSurvivorImpactIndicators'].invalid">
                    <div *ngIf="form.controls['commonSurvivorImpactIndicators'].get('servedOrCurrentlyUnderInvestigation').errors?.required" class="error">
                        <span>This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="form.get('commonSurvivorImpactIndicators.servedOrCurrentlyUnderInvestigation').value=='true'">
            <div>
                <app-list-of-offences
                    [offencesArray]= "form.controls['commonSurvivorImpactIndicators'].get('listOfOffences')">
                </app-list-of-offences>
            </div>
        </div>

        
        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <label>Are you now under the supervision of Probation Service or CRC? </label>
                <mat-radio-group class="ml-2" aria-label="Select an option"  required  formControlName="probationServiceOrCRC">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                    <mat-radio-button value="N/A">N/A</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="form.controls['commonSurvivorImpactIndicators'].touched && form.controls['commonSurvivorImpactIndicators'].invalid">
                    <div *ngIf="form.controls['commonSurvivorImpactIndicators'].get('probationServiceOrCRC').errors?.required" class="error">
                        <span>This field is mandatory</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="form.get('commonSurvivorImpactIndicators.probationServiceOrCRC').value=='Yes'">
           <div>
                <app-probation-service-or-crc  
                    [probationServiceCRCArray]= "form.controls['commonSurvivorImpactIndicators'].get('listOfProbations')">
                </app-probation-service-or-crc>
            </div>
        </div>


        <div class="row mt-5 mb-2">
            <div class="col-md-12">
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Please provide any other datails or comments on this referral:</mat-label>
                    <textarea matInput #message maxlength="500" rows="5" formControlName="finalComments"></textarea>
                    <mat-hint align="end">{{message.value.length}} / 500</mat-hint>   
                    <mat-error>This field is mandatory</mat-error>  
                </mat-form-field>
            </div>
        </div>  

    </div>
</div>

<div class="mt-2">
    <button class="mr-2" mat-raised-button color="primary" matStepperPrevious type="button">Back</button>
    <button mat-raised-button color="primary" matStepperNext type="button">Next</button>  
</div>