<div *ngIf="userLogin()">
    <div class="p-2">
        <button mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #userMenu="matMenu">
        <button mat-menu-item> 
        <mat-icon>account_circle</mat-icon>
        <span>User Profile</span>
        </button>
        <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
        </mat-menu>
    </div>
</div>
