<div class="d-flex flex-column mt-2" [formGroup]="form">

    <div formGroupName="typeReferral">
        <div class="flex-row"> 
            <mat-form-field>
                <mat-label>Type of Referral</mat-label>
                <mat-select  formControlName="type" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let type of referralTypeOptions" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['typeReferral']controls['type'].errors?.required">This field is mandatory</mat-error>
            </mat-form-field>   
        </div>
   
        <!-- Self Referral-->
        <div class="flex-row">
            <div *ngIf="form.get('typeReferral.type').value=='Self'">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width-input">
                            <input matInput placeholder="Where did you hear about us?" formControlName="source">
                            <mat-error *ngIf="form.controls['typeReferral']controls['source'].errors?.required">This field is mandatory</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Prof Referral-->
        <div *ngIf="form.get('typeReferral.type').value=='Prof'">
            <mat-card class="mat-elevation-z5">

                <mat-card-header class="d-flex flex-row justify-content-center">
                    <mat-card-subtitle>Agency Information</mat-card-subtitle>
                </mat-card-header>
    
                <mat-card-content>
                    <div formGroupName="agencyInformation">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <mat-form-field class="full-width-input">
                                    <input matInput placeholder="Agency" formControlName="agency">
                                    <mat-error *ngIf="form.controls['typeReferral']controls['agencyInformation']controls['agency'].errors?.required">
                                        This field is mandatory
                                    </mat-error> 
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width-input">
                                    <input matInput placeholder="Contact Person"  formControlName="contactPerson">
                                    <mat-error *ngIf="form.controls['typeReferral']controls['agencyInformation']controls['contactPerson'].errors?.required">
                                        This field is mandatory
                                    </mat-error> 
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <mat-form-field class="full-width-input">
                                    <input matInput placeholder="Phone" formControlName="phone">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width-input">
                                    <input matInput placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="form.controls['typeReferral']controls['agencyInformation']controls['contactPerson'].errors?.mail">
                                        The email is invalid
                                    </mat-error> 
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <label class="mr-2">Has the client consented to a referral being made to Survivors Manchester?</label>
                                <mat-radio-group aria-label="Select an option" formControlName="agencyHasClientConsent">
                                    <mat-radio-button value="true">Yes</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="form.controls['typeReferral'].get('agencyInformation').touched && 
                                            form.controls['typeReferral'].get('agencyInformation').invalid">
                                    <div *ngIf="form.controls['typeReferral'].get('agencyInformation.agencyHasClientConsent').errors?.required" class="error">
                                        <span>This field is mandatory</span>
                                    </div>
                                </div>
                                <!-- <div>
                                    <p>valid form {{ form.controls['typeReferral'].get('agencyInformation').invalid }}</p>
                                    <p>touched form {{ form.controls['typeReferral'].get('agencyInformation').touched }}</p>
                                    <p>dirty form {{ form.dirty}}</p>
                                </div> -->
                            </div>
                        </div>         
                    </div>          
                </mat-card-content>
            </mat-card>  
        </div>
    </div>
   
</div>

<button class="mt-2" type="button" matStepperNext mat-raised-button color="primary">Next</button>