<div class="row">
    <div class="col-xs-3">
        <img class="imgLogo" src="https://uksaysnomore.org/wp-content/uploads/2016/08/Survivors-Manchester-Featured-Image.png"
             height="110px" width="220px">
    </div>
    <div class="col-xs-3">
        <p style="font-size:11px">
            <strong>Main Office</strong> <br />
            Unit 9, Brewery Yard <br />
            Deva City Office Park <br />
            Salfor <br />
            M3 7BB <br />
        </p>
    </div>
    <div class="col-xs-3">
        <p class="header mt-2" style="font-size:11px">
            <strong>Registeref Office</strong><br />
            P.O Box 4325 <br />
            Manchester <br />
            M61 OBG <br />
        </p>
    </div>
    <div class="col-xs-3">
        <p class="header mt-2" style="font-size:11px">
            <strong>+44 (0)0161 236 2182</strong><br />
            support@survivorsmanchester.org.uk <br />
            <br />
            <img src="https://www.survivorsmanchester.org.uk/wp-content/themes/survivors/images/icon-twitter.svg" width="10px" height="10px">
            &#64;SurvivorsMcr  <br />
            <img src="https://www.survivorsmanchester.org.uk/wp-content/themes/survivors/images/icon-facebook.svg" width="10px" height="10px">
            &#64;SurvivorsMcr  <br />
        </p>
    </div>
</div>