@namespace IAPT.EK.API.Views.Referral
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IAPT.EK.Business.EReferral.Models.eContactDetail

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Contact Detail</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>NHS Number:</td>
                    <td>@Model?.NHSNumber</td>
                </tr>
                <tr>
                    <td>Fisrt Name:</td>
                    <td>@Model?.FirstName</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>@Model?.LastName</td>
                </tr>
                <tr>
                    <td>D.O.B:</td>
                    <td>@Model?.BirthDay</td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>@Model?.Address1</td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>@Model?.Address2</td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>@Model?.Address2</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>@Model?.City?.Name.</td>
                </tr>
                <tr>
                    <td>Other City:</td>
                    <td>@Model?.anotherCity</td>
                </tr>
                <tr>
                    <td>Postcode:</td>
                    <td>@Model?.PostCode</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>@Model?.Phone</td>
                </tr>
                <tr>
                    <td>Mobile:</td>
                    <td>@Model?.Mobile</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model?.Email</td>
                </tr>
                <tr>
                    <td>Method(s) to be contact:</td>
                    <td>@Model?.MethodsToContact</td>
                </tr>
                <tr>
                    <td>GP:</td>
                    <td>@Model?.GpPractice?.Description</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
