@namespace IAPT.EK.API.Views.Referral
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IAPT.EK.Business.EReferral.Models.eArmedForce

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Armed Forces Indicator</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped" width="100px">
            <tbody>
                <tr>
                    <td width="10px">Have you previously been a member of the British Armed Forces?</td>
                    <td width="90px">@Model?.MemberOfArmedForce</td>
                </tr>
                <tr>
                    <td width="10px">Are your difficulties directly related to your military service?</td>
                    <td width="90px">@Model?.HasLinkedWithArmedForce</td>
                </tr>
                <tr>
                    <td width="10px">Branch type</td>
                    <td width="90px">@Model?.Branch</td>
                </tr>
                <tr>
                    <td width="10px">Service Number</td>
                    <td width="90px">@Model?.ServiceNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>