@namespace IAPT.EK.API.Views.Referral
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IAPT.EK.Business.EReferral.Models.eSexualOffence



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Referral Information</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped" width="100px">
            <tbody>
                <tr>
                    <td width="10px">Summary</td>
                    <td width="90px">@Model?.BriefSummary</td>
                </tr>
                <tr>
                    <td width="10px">When was the offence(s) committed</td>
                    <td width="90px">@Model?.WhenWasIt</td>
                </tr>
                <tr>
                    <td width="10px">Offence type</td>
                    <td width="90px">@Model?.OffenceType</td>
                </tr>
                <tr>
                    <td width="10px">Age at Time of Offence:</td>
                    <td width="90px">@Model?.AgeAtTimeOfOffence</td>
                </tr>
                <tr>
                    <td width="10px">What was the Gender of the Perpetrator:</td>
                    <td width="90px">@Model?.WhatWasGenderOfPerpetror</td>
                </tr>
                <tr>
                    <td width="10px">What was the Relationship to the Perpetrator:</td>
                    <td width="90px">@Model?.WhatWasRelationshipToPerpetror</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>