
<div class="headEReferralInfo">
    <h2 class="d-flex flex-row justify-content-center">
        Support Referral Form (v20/01)
    </h2>
    <h3>
        Please note: Survivors Manchester cannot accept incomplete referral forms. As a confidential service,
        we will only provide confirmation of receipt of referral until consent to share information is confirmed.
    </h3>
</div>


<mat-card>

    <mat-toolbar class="mb-3">
        <span>e-Referral</span>
    </mat-toolbar>

    <mat-card-content>
        <div class="mat-elevation-z8">
            <form [formGroup]="ereferralService.Form">
                <mat-vertical-stepper [linear]="true" appMatVerticalStepperScroller (selectionChange)="selectionChange($event)"  #stepper>
                    
                    <!-- <mat-step formGroupName="typeReferral"  [stepControl]="ereferralService.Form.get('typeReferral')">
                        <ng-template matStepLabel>Type Referral</ng-template>
                        <app-type-referral [form]="ereferralService.Form"></app-type-referral>
                    </mat-step>
                    
                    <mat-step formGroupName="contactDetail"  [stepControl]="ereferralService.Form.get('contactDetail')"> 
                        <ng-template matStepLabel>Contact Details</ng-template>
                        <app-contact-detail [form]="ereferralService.Form" ></app-contact-detail>
                     </mat-step>
                    
                    <mat-step formGroupName="diversityDetail" [stepControl]="ereferralService.Form.get('diversityDetail')">
                        <ng-template matStepLabel>Diversity Details</ng-template>
                        <app-diversity-detail [form]="ereferralService.Form"></app-diversity-detail>
                    </mat-step>

                    <mat-step formGroupName="armedForceDetail" [stepControl]="ereferralService.Form.get('armedForceDetail')">
                        <ng-template matStepLabel>Armed Forces Details</ng-template>
                        <app-armed-forces-detail [form]="ereferralService.Form"></app-armed-forces-detail>
                    </mat-step>

                    <mat-step formGroupName="longTermPhysicalHealth" [stepControl]="ereferralService.Form.get('longTermPhysicalHealth')">
                        <ng-template matStepLabel>Long Term Physical Helath Indicator (e.g. Heart Conditions, Epilepsy, COPD)</ng-template>
                        <app-long-term-physical-health [form]="ereferralService.Form"></app-long-term-physical-health>
                    </mat-step> 

                    <mat-step formGroupName="riskIndicatorInformation" [stepControl]="ereferralService.Form.get('riskIndicatorInformation')">
                        <ng-template matStepLabel>Risk Indicator Information (e.g. Recent self harm, suicide, medicine non-compliancy)</ng-template>
                        <app-risk-indication [form]="ereferralService.Form"></app-risk-indication>
                    </mat-step>  -->

                    <mat-step formGroupName="clinicalReferral" [stepControl]="ereferralService.Form.get('clinicalReferral')">
                        <ng-template matStepLabel>Clinical Referral</ng-template>
                        <app-clinical-referral [form]="ereferralService.Form"></app-clinical-referral>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary">Submit</button>
                        </div>
                    </mat-step>

                </mat-vertical-stepper>
           </form>
        </div>
    </mat-card-content>
</mat-card>

<app-form-debug [form]="ereferralService.Form"></app-form-debug>
     


