
.headEReferralInfo {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00AEEF;
    color: #ffffff;
    font:18px/27px 'Source Sans Pro', Helvetica, sans-serif;
    border-radius: 5px;
}
