.notFoundHeader {
    color: #00AEEF;
    font-size: 45px;
    text-align: center;
    padding: 20px;
}

.notFound {
    color: #898989;
    font-size: 18px;
    font-family: "Source Sans Pro";
    text-align: center;
    padding: 20px;
}