/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities"; // add css utilities
@import "reset";


html, body{
    height: 100%;
}

body{
    margin: 0;
}

.table {
    width: 100%;
  }

.button-row button,
.button-row a {
   margin: 5px;
}


snack-bar-container.success{
    background-color: #5cb85c;
    color:#fff;
}

snack-bar-container.error{
    background-color: #F44336;
    color:#fff;
}

.filterPlusAdd{
    display: flex;
    justify-content: space-between;    

}

.filter {
    width: 40%;
}

.pointer{
    cursor: pointer;
}

.full-width-input {
    width: 100%;
}

.my-flex-container {
    border: 2px solid green;
    height: 100px;
    margin-bottom: 20px;
}

.my-flex-container-column {
    border: 2px solid green;
    height: 200px;
    margin-bottom: 20px;
}

.my-flex-item {
    background-color: lightgrey;
    border: 1px dotted grey;
    height: 48px;
}